body {
    background-color:  hsl(0, 0%, 69%);
    font-family: "Courier New", sans-serif;
    font-size: 15px;
}

img {
    width: 300px;
    height: auto;
}

.libox {
    background-color: white;
}

.head {
    background-color: hsl(0, 0%, 60%);
}